<!DOCTYPE html>
<html>
<title>Igor Roztropiński</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" category="text/css" href="/resources/style.css" />
</head>

<body class="gradient">
    <div class="background-top"></div>
    <h1>Igor Roztropiński</h1>
    <p class="indented fade-in">born in 1994, Konin, Poland.</p>
    <div class="formatted">
        <p class="indented fade-in-first-delay">My road to become a programmer was a long one. Having wide range
            of interests, I studied psychology, food technology and electronics, not finishing any of them, searching
            for the craft to which I will want to commit for the long haul.
            In the meantime, I held various odd jobs. Among them were work in a construction,
            paper carton production, electronics production, on a peony plantation, as a postman, bodyguard and a
            warehouseman. Being interested in subjects as different as philosophy, history, politics, weightlifting,
            dietetics, engineering and hard sciences I had to try
            various
            things to
            find what fits my character and abilities best. In 2017, after year of studying electronics
            at the Lodz University of Technology I got a programming internship at Inovatica in Lodz. Already before
            that
            opportunity I developed fondness for programming. I did well there,
            so I took the risk, negotiated and got employed at the end of the internship. Not long after that, I dropped
            out of university
            and
            created rigorous plan of learning, which I had been executing zealously since then.</p>
        <p class="indented fade-in-second-delay">From September 2017 to November 2019 I worked as a programmer for
            Inovatica in Lodz.
            At the very begining developing native Android applications was my only responsibility. Not long after
            that I was using Spring and Hibernate to create
            backend
            applications. There was a period in which I was working on very customized and
            domain specific Java applications that interact with <a href="http://www.ros.org">ROS</a>.
            Then again I worked on mobile apps, using Kotlin this time. At the end of my journey with Inovatica I was
            back in the autonomous
            forklift project, which is being done almost entirely in Java.</p>
        <p class="indented fade-in-third-delay">At the moment I am working for <a href="https://www.hycom.pl">Hycom</a>. 
            We are building data lake, collecting and analyzing large ammounts of data.
            My responsibilities ranges from writing custom Java and Python applications to managing CI/CD pipelines and analyzing our data.</p>
        <p class="indented fade-in-forth-delay">Programming is my greatest passion, so I am
            always learning and working on various <a href="/#projects">projects</a>.
            I consider myself a programmer, not only web, desktop or mobile one. Most of my experience is related to
            mobile
            and web development <a href="/skills">using</a> Java and JavaScript related technologies. 
            Due to my current work for Hycom, I also have become proficient in Python.
            Nevertheless I am constantly <a href="https://www.udemy.com/user/igor-101/">expanding</a> my expertise and will be happy to
            work in
            every domain related to programming applying the most suitable technology.</p>
        <div class="fade-in-fifth-delay">
            <h2>You can find me here</h2>
            <ul class="links">
                <li class="hover"><a href="mailto: iroztropinski@gmail.com">iroztropinski@gmail.com</a></li>
                <li class="hover"><a href="https://github.com/Iprogrammerr">Github</a></li>
                <li class="hover"><a href="https://stackoverflow.com/users/8849079/igor">Stackoverflow</a></li>
                <li class="hover"><a href="https://www.linkedin.com/in/igor-roztropi%C5%84ski-621825192/">LinkedIn</a>
                </li>
            </ul>
        </div>
</body>
<script src="/resources/app.js"></script>

</html>