<!DOCTYPE html>
<html>
<title>Comparator</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" category="text/css" href="/resources/style.css" />
    <style>
        input {
            color: black;
        }

        div>p {
            display: inline-block;
        }

        h1,
        h2 {
            text-align: center;
        }

        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        .text-center {
            text-align: center;
            width: 100%;
        }

        #compare-button {
            width: 50%;
        }
    </style>
</head>

<body class="gradient">
    <div class="background-bottom"></div>
    <div class="fade-in text-center">
        <h1>Let's compare something!</h1>
        <div class="comparator-header">
            <div id="items">
                <h2>Items</h2>
            </div>
            <div id="attributes" class="centered">
                <h2>Attributes</h2>
            </div>
        </div>
        <div class="comparator"></div>
        <button id='compare-button'>Compare</button>
    </div>
</body>

<script src="/resources/tools/comparator.js" type="module"></script>
<script src="/resources/app.js"></script>

</html>