<!DOCTYPE html>
<html>
<title>Comparator</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" category="text/css" href="/resources/style.css" />
    <style>
        input {
            color: black;
        }

        div>p {
            display: inline-block;
        }
    </style>
</head>

<body class="gradient">
    <div class="background-bottom"></div>
    <div class="centered fade-in">
        <h1>Let's compare something!</h1>
        <div id="attributes" class="centered"></div>
        <div class="comparator"></div>
    </div>
</body>

<script src="/resources/tools/comparator.js" type="module"></script>
<script src="/resources/app.js"></script>

</html>