<!DOCTYPE html>
<html>
<title>About</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" category="text/css" href="/resources/style.css" />
</head>

<body class="gradient">
    <div class="background-top"></div>
    <h1>Igor Roztropiński</h1>
    <p class="indented fade-in">born in 1994, Konin, Poland.</p>
    <div class="formatted">
        <p class="indented fade-in-first-delay"> My road to finally become a programmer was a long one. I always had a
            problem of having too many interests. I
            studied Psychology, Food Technology and Electronics
            and did not finish any of them, searching for the domain to which I will want to commit for the long haul.
            In
            the meantime, I held various odd jobs. I worked in a construction,
            paper carton production, electronics production, on a peony plantation, as a postman, bodyguard and a
            warehouseman. Being interested in subjects as different
            as philosophy, history, politics, weightlifting, dietetics, engineering and hard sciences I had to try
            various
            things to
            find what fits my character and abilities best. In 2017, after year of studying Electronics
            at the Lodz University of Technology I got a programming internship at Inovatica in Lodz. Already before
            that
            opportunity I developed fondness for programming. I did well there,
            so I took the risk, negotiated and got employed at the end of the internship. I dropped out of university
            and
            created rigorous plan of learning, which I had been executing religiously since then.</p>
        <p class="indented fade-in-second-delay">From September 2017 I have been working as a programmer at Inovatica in
            Lodz. At the very begining I was only
            developing native Android applications. Not long after that I was using Spring and Hibernate for creating
            backend
            applications. There was a period in which I was working on very customized and
            domain specific Java applications that interacts with <a href="http://www.ros.org/" target="_blank">ROS</a>.
            Then again I worked on mobile apps, using Kotlin this time. At the moment I am back in the autonomous
            forklift project, which is being done almost absolutely in Java.</p>
        <p class="indented fade-in-third-delay">Programming is my greatest passion, so I am
            always learning something related to it and working on various projects. <a
                href="/#projects">Documenting</a>
            them
            is the main goal of this website.
            I consider myself a programmer, not only web, desktop or mobile one. Most of my experience is related to
            mobile
            and web development <a href="/skills">using</a> Java and JavaScript related technologies. Nevertheless I am
            constantly expanding my expertise and will be happy to work in
            every domain related to programming applying the most suitable technology.</p>
    </div>
    <div class="fade-in-forth-delay">
        <h2>You can find me here</h2>
        <ul class="links">
            <li><a href="mailto: ceigor94@gmail.com">ceigor94@gmail.com</a></li>
            <li><a href="https://github.com/Iprogrammerr">Github</a></li>
            <li><a href="https://stackoverflow.com/users/8849079/igor">Stackoverflow</a></li>
        </ul>
    </div>
</body>
<script src="/resources/app.js"></script>

</html>