<!DOCTYPE html>
<html>
<title>Experience</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/resources/style.css" />
</head>

<body class="gradient">
    <h1 th:text="${experience.place}"></h1>
    <h2 th:text="${experience.function}"></h2>
    <h2 th:utext="|${experience.startDate} - ${experience.endDate}|"></h2>
    <h2>Tech Stack</h2>
    <ul th:each="t : ${experience.techStack}">
        <li th:text="${t}"></li>
    </ul>
    <h2>Details</h2>
    <p class="indented" th:text="${experience.description}"></p>
</body>

</html>