<!DOCTYPE html>
<html>
<title>Iprogrammerr</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="author" content="Igor Roztropiński" />
    <link rel="stylesheet" type="text/css" href="resources/style.css" />
</head>

<body class="gradient">
    <h1>Igor Roztropiński</h1>
    <h2>Programmer</h2>
    <div class="info">
        <p>Born: 04.04.1994</p>
        <p>Email: ceigor94@gmail.com</p>
        <image alt="icon"></image>
        <p><a href="https://github.com/Iprogrammerr" target="blank">Code</a></p>
        <p><a href="/about">More</a></p>
    </div>
    <h1>Experience</h1>
    <div class="experience">
        <p>2017.09 -</p>
        <div>
            <h2>Inovatica Sp. z o. o.</h2>
            <h3>Java developer</h3>
            <p>Using jvm to solving various problems. Ranging from writing mobile,
                 desktop and restful apps to coming up with algorithms for autonomous forklift</p>
        </div>
    </div>
    <h1>Projects</h1>
    <div class="projects">
        <div>Bright Server</div>
        <div>Gentle Request</div>
        <div>Food Controller</div>
    </div>
    <h1>Skills</h1>
    <div>
        <p>Java</p>
        <p>Kotlin</p>
        <p>JavaScript</p>
    </div>
</body>

</html>