<!DOCTYPE html>
<html>
<title th:text="${project.name}"></title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" category="text/css" href="/resources/style.css" />
</head>

<body class="gradient">
    <div class="background-top"></div>
    <h1 th:utext="${project.name}" class="fade-in"></h1>
    <div class="formatted">
        <div class="fade-in-first-delay">
            <h2>Goal</h2>
            <p th:text="${project.goal}" class="indented"></p>
        </div>
        <div class="fade-in-second-delay">
            <h2>Description</h2>
            <p th:utext="${project.description}" class="indented"></p>
        </div>
        <div class="fade-in-third-delay">
            <h2>Links</h2>
            <ul id="links" th:each="l : ${project.links}">
                <li><a th:href="${l}" th:text="${l}" target="blank"></a></li>
            </ul>
        </div>
    </div>
</body>

</html>