<!DOCTYPE html>
<html>
<title th:text="${project.name}"></title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" category="text/css" href="/resources/style.css" />
</head>

<body class="gradient">
    <div class="background"></div>
    <div th:if="${hasPrevious}" class="arrow-left fade-in-second-delay">
        <div id="previous" class="hover">&#10094</div>
    </div>
    <div th:if="${hasNext}" class="arrow-right fade-in-second-delay">
        <div id="next" class="hover">&#10095</div>
    </div>
    <div class="centered">
        <h1 th:utext="${project.name}" class="fade-in"></h1>
        <div class="fade-in-first-delay">
            <h2>Goal</h2>
            <p th:text="${project.goal}" class="indented"></p>
        </div>
        <div class="fade-in-second-delay">
            <h2>Description</h2>
            <p th:utext="${project.description}" class="indented"></p>
        </div>
        <div id="gallery" class="gallery fade-in-second-delay">
            <th:block th:each="i : ${project.images}">
                <div class="medium" th:style="'background-image: url(' + '&quot' + ${i} + '&quot' + ')'">
                </div>
            </th:block>
        </div>
        <div class="fade-in-third-delay">
            <h2>Links</h2>
            <ul class="links" th:each="l : ${project.links}">
                <li><a th:href="${l.url}" th:text="${l.name}" target="_blank"></a></li>
            </ul>
        </div>
    </div>
</body>
<script src="/resources/project.js" type="module"></script>
<script src="/resources/app.js"></script>

</html>