<!DOCTYPE html>
<html>
<title>Skills</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" category="text/css" href="/resources/style.css" />
    <style>
        @media screen and (max-width: 800px) {
            .skill {
                grid-template-columns: 10% 80% 10%;
            }
        }
    </style>
</head>

<body class="gradient">
    <div class="background"></div>
    <div class="skill">
        <div th:if="${hasPrevious}" id="previous" class="arrow fade-in-second-delay">&#10094</div>
        <div th:unless="${hasPrevious}"></div>
        <div class="content fade-in">
            <h1 th:text="${skills.category}"></h1>
            <div th:each="s : ${skills.skills}">
                <h2 th:utext="${s.name}" class="fade-in-first-delay"></h2>
                <p class="indented fade-in-second-delay" th:utext="${s.description}">
                </p>
            </div>
        </div>
        <div th:if="${hasNext}" id="next" class="arrow fade-in-second-delay">&#10095</div>
        <div th:unless="${hasNext}"></div>
    </div>
</body>
<script src="/resources/skills.js"></script>

</html>