* {
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --font: "Comic Sans MS", cursive, sans-serif;
    --padding-medium: 16px;
    --font-large-large: 2.5em;
    --font-large: 2em;
    --font-medium: 1.5em;
    --font-medium-small : 1.25em;
    --links-color:#7faaef;
    --accent: #0badf1;
    --background-start: white;
    --background-end:#cdd2d8;
    --gallery-small-width-two: 10vw;
    --gallery-small-height-two: 13vw;
    --gallery-medium-width-two: 35vw;
    --gallery-medium-height-two: 47vw;
    --gallery-large-width-two: 60vw;
    --gallery-large-height-two: 85vw;
    --gallery-small-width-three: 8vw;
    --gallery-small-height-three: 10vw;
    --gallery-medium-width-three: 21vw;
    --gallery-medium-height-three: 29vw;
    --gallery-large-width-three: 45vw;
    --gallery-large-height-three: 60vw;
    --gallery-small-width-three-large: 7vw;
    --gallery-small-height-three-large: 10vw;
    --gallery-medium-width-three-large: 14vw;
    --gallery-medium-height-three-large: 19vw;
    --gallery-large-width-three-large: 30vw;
    --gallery-large-height-three-large: 44vw;
    --gallery-small-width-four: 6vw;
    --gallery-small-height-four: 8.5vw;
    --gallery-medium-width-four: 10vw;
    --gallery-medium-height-four: 13.5vw;
    --gallery-large-width-four: 24vw;
    --gallery-large-height-four: 32vw;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    overflow: auto;
}

body.gradient{
    padding: var(--padding-medium);
    background-image: linear-gradient(to right, var(--background-start), var(--background-end));
}

.background, .background-top, .background-bottom {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-image: url("background.png");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    position: fixed;
    opacity: 0;
    animation: fadeInFaded 2s ease 1s 1 forwards;
}

.background-top {
    top: -4vh;
    right: -4vw;
    background-position: top right;
}

.background-bottom {
    top: 4vh;
    right: -4vw;
    background-position: bottom right;
}

h1 {
    font-size: var(--font-large);
}

h2 {
    font-size: var(--font-medium);
}

h3 {
    font-size: var(--font-medium-small);
}

.head {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fade-in, .fade-in-first-delay, .fade-in-second-delay, .fade-in-third-delay, .fade-in-forth-delay {
    opacity: 0;
    animation: fadeIn 2s ease 0s 1 forwards;
}

.fade-in-first-delay {
    animation-delay: 0.5s;
}

.fade-in-second-delay {
    animation-delay: 1s;
}

.fade-in-third-delay {
    animation-delay: 1.5s;
}

.fade-in-forth-delay {
    animation-delay: 2s;
}

.profile {
    float: right;
    width: 70%;
    height: auto;
}

.experience {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    position: relative;
    align-items: center;
}

.more {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--font-large);
}

.hover:hover {
    cursor: pointer;
    color: var(--accent);
}

.no-hover:active {
    cursor: default;
    color: var(--accent);
}

.experience-details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: start;
    align-items: top;
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: var(--padding-medium);
}

.gallery, .gallery-one, .gallery-two, .gallery-three {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: var(--padding-medium);
}

.gallery-one {
    grid-template-columns: 1fr;
}

.gallery-two {
    grid-template-columns: 1fr 1fr;
}

.gallery-three {
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery > div, .gallery-one > div, .gallery-two > div, .gallery-three > div {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery-two .small, .gallery-one .small {
    width: var(--gallery-small-width-three);
    height: var(--gallery-small-height-three);
}

.gallery-two .medium, .gallery-one .medium {
    width: var(--gallery-medium-width-three);
    height: var(--gallery-medium-height-three);
}

.gallery-two .large, .gallery-one .large {
    width: var(--gallery-large-width-three);
    height: var(--gallery-large-height-three);
}

.gallery-three .small {
    width: var(--gallery-small-width-three-large);
    height: var(--gallery-small-height-three-large);
}

.gallery-three .medium {
    width: var(--gallery-medium-width-three-large);
    height: var(--gallery-medium-height-three-large);
}

.gallery-three .large {
    width: var(--gallery-large-width-three-large);
    height: var(--gallery-large-height-three-large);
}

.gallery .small {
    width: var(--gallery-small-width-four);
    height: var(--gallery-small-height-four);
}

.gallery .medium {
    width: var(--gallery-medium-width-four);
    height: var(--gallery-medium-height-four);
}

.gallery .large {
    width: var(--gallery-large-width-four);
    height: var(--gallery-large-height-four);
}

a {
    color: var(--links-color);   
}

a:hover, a.no-hover:active {
    color: var(--accent);
}

a.no-hover {
    cursor: none;
}

a.no-hover:hover {
    color: var(--links-color);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

p.indented {
    text-indent: var(--padding-medium);
}

.formatted {
    width: 70%;
}

.centered {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: start;
    flex-direction: column;
}

.centered > * {
    width: 50%;
}

.arrow-left, .arrow-right {
    width: 10%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
}

.arrow-left > *, .arrow-right > * {
    font-size: var(--font-large-large);
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.links {
    color: var(--links-color);
}



@media screen and (max-width: 1000px) {
    .centered > * {
        width: 70%;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery .small {
        width: var(--gallery-small-width-three);
        height: var(--gallery-small-height-three);
    }

    .gallery .medium {
        width: var(--gallery-medium-width-three);
        height: var(--gallery-medium-height-three);
    }
    
    .gallery .large {
        width: var(--gallery-large-width-three);
        height: var(--gallery-large-height-three);
    }
}


@media screen and (max-width: 600px) {
    .background-top, .background-bottom {
        top: 0;
        right: 0;
        background-position: center;
    }
    .background, .background-top {
        background-size: auto 70%;
    }
    .formatted {
        width: 90%;
    }
    .centered > * {
        width: 90%;
    }
    .gallery, .gallery-three {
        grid-template-columns: 1fr 1fr;
    }

    .gallery .small, .gallery-one .small, .gallery-two .small, .gallery-three .small {
        width: var(--gallery-small-width-two);
        height: var(--gallery-small-height-two);
    }

    .gallery .medium, .gallery-one .medium, .gallery-two .medium, .gallery-three .medium {
        width: var(--gallery-medium-width-two);
        height: var(--gallery-medium-height-two);
    }
    
    .gallery .large, .gallery-one .large, .gallery-two .large, .gallery-three .large {
        width: var(--gallery-large-width-two);
        height: var(--gallery-large-height-two);
    }
}

@media screen and (max-height: 500px) {
    .background {
        background-size: auto 110%;
    }

    .background-top, .background-bottom {
        background-size: auto 90%;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInFaded {
    from {opacity: 0;}
    to {opacity: 0.1;}
}