* {
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --font: "Comic Sans MS", cursive, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}