* {
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --font: "Comic Sans MS", cursive, sans-serif;
    --padding-medium: 16px;
    --font-large: 2em;
    --font-medium: 1.5em;
    --links-color:#7faaef;
    --accent: #0badf1;
    --background-start: white;
    --background-end: #e3e5ea;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

body.gradient {
    padding: var(--padding-medium);
    background-image: linear-gradient(to right, var(--background-start), var(--background-end));
}

h1 {
    font-size: var(--font-large);
}

h2 {
    font-size: var(--font-medium);
}

.head {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.profile {
    float: right;
    width: 70%;
    height: 100%;
}

.info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
    align-items: center;
}

.experience {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: left;
    align-items: center;
    cursor: pointer;
}

.experience:hover {
    opacity: 0.8;
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    align-items: center;
}

a {
    color: var(--links-color);   
}

a:hover {
    color: var(--accent);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.skills > h2:hover {
    cursor: pointer;
    color: var(--accent);
}